.btn-primary{
  background-color:#d63384;
  color:#ffffff;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 2rem;
}
.btn-primary:hover{
  background-color: #ffffff;
  color: #d63384;
  border: 2px solid #d63384;
  font-weight: 500;
}

.product-card{
  width: 20rem;
  height: 38rem;
  transition: transform .2s; 
}

.product-card:hover{
  transform: scale(1.05); 
}

.product-card-body>h3{
  font-size: 1rem;
}

.product-card-text{
  font-size: 1.25rem;
  font-weight: 700;
}

.hero-banner{
  position: relative;
  z-index: 10;
}
.product-list{
  position: absolute;
  z-index: 20;
  top: 30rem;
  right: 0;
}
.hero-banner-2{
  top: 60rem;
  position: relative;
  z-index: 20;
}