.btn-primary{
  background-color:#d63384;
  color:#ffffff;
  width: 100%;
  border: none;
  border-radius: 5px;
  height: 2rem;
}
.btn-primary:hover{
  background-color: #ffffff;
  color: #d63384;
  border: 2px solid #d63384;
  font-weight: 500;
}